- page_options :id => "intro-page", :no_keydates => true, :no_subheader => true, :h1 => t("organization"), :h2 => t("date")

- if before_voting? || after_voting?
  - content_for :before_header do
    #popup.popup
      %a.close-button
      %div= t(before_voting? ? "voting.notstarted" : "voting.ended")
      %div
        %h2= t "organization"
        %h3= t "date"
    #blanket


%section#welcome

%section.welcome
  %h1= t '.welcome'
  %p= t '.intro'
  %p= t '.prompt'
  %ul
    - t(".steps").split('|').each do |step|
      %li= step
  %p= t '.thanks'
  %p= t '.warning'
  %p= link_to "Start Mail-in Ballot", during_voting? ? overview_path : front_path, :class => button_class(!during_voting?)
  %p#instructions
    Read complete #{link_to "instructions", help_path, :target => "_blank"} for the service.

%section.software
  = render 'software_requirements'

