%footer
  - unless @no_keydates
    %section#keydates
      %header Key Dates
      .keydate
        %h4 November 2
        %p Last day to return your ballot, postmarked for November 2

      .keydate
        %h4 November 17
        %p Ballots must arrive by November 17 to be eligible for counting
  
  - if @about == :social
    %section#about
      %p Tell everyone you voted!
      = link_to "#{image_tag("/images/facebook-icon.png", :alt => "facebook-icon", :width => 32, :height => 32)}Facebook", "http://www.facebook.com/sharer.php?u=http://webtest.dubberly.com/osdv/&amp;t=I%20Voted", :target => "_blank", :id => "facebook-icon"
      = link_to "#{image_tag("/images/twitter-icon.png", :alt => "I Voted!", :width => 32, :height => 32)}Twitter", "http://www.twitter.com/share", :id => "twitter-icon", :"data-text" => "I just voted online using OSDV DC Vote by Mail!", :"data-count" => "none", :target => "_blank"
      %script{ :type => "text/javascript", :src => "http://platform.twitter.com/widgets.js" }
        
  
  %nav
    %ul
      %li#orgname District of Columbia Digital Vote-by-Mail Service
      %li= link_to "About", about_path
      %li= link_to "Help", help_path
      %li= link_to "Security", security_path
      %li= link_to "Contact", contact_path

  - unless @no_keydates
    .keydate-spacer
